@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
   font-family: 'Open Sans', sans-serif !important;

}

body {
   background-color: white !important;
}

.products {
   cursor: pointer;
}

.products-card {
   object-fit: cover;
   height: 15rem;
   transition: transform 0.2s;
}